@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');


*{
    margin: 0;
}
body{
    background-color: gainsboro;
}
.nav{
    padding-top: 10px;
    width: 100%;
    height: 4em;
    background-color: rgb(77, 131, 231);    
    text-align: center;
    box-shadow: 0px 5px 20px gray;
}
.nav h2{
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    color: white;
    font-family: 'KTF jermilov solid', sans-serif;
}
.fon1{
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-image: url(../static/image/Фон.jpg);
    background-size: cover;
    padding-top: 30px;
}

.fon2{
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-image: url(../static/image/лаба.jpg);
    background-size: cover;
    padding-top: 1px;
}
.fon3{
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-image: url(../static/image/Эконом.jpg);
    background-size: cover;
}

.fon4{
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-image: url(../static/image/карат.jpg);
    background-size: cover;
    padding-top: 100px;
}
.title{
  color: rgb(39, 100, 213); /*Определяет цвет текста элемента*/
  font-family: 'KTF jermilov solid';
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 64px; /*Определяет размер шрифта элемента*/
  line-height: 75px; /*Задаёт высоту строки текста*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
  animation-name: header_anim;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-transform: uppercase;
}
.card{
  width: 270px;
  height: 320px;
  background-color: #ededed;
  display: flex;
  padding-top: 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px gray;
  animation-name: card_anim;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.img {
    width: 350px; /*Устанавливает ширину содержимого элемента*/
    height: 283px; /*Устанавливает высоту содержимого элемента*/
    text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
    display: flex; /*Определяет как элемент должен быть показан в документе*/
    flex-flow: column wrap;
    align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
    padding-bottom: 55px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
  }
  .team {
    padding-top: 58px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  }
  .figure {
    margin: 0; /*Расстояние от края элемента до края другог элемента*/
    padding: 0; /*Устанавливает значение полей вокруг содержимого элемента*/
    display: flex; /*Определяет как элемент должен быть показан в документе*/
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .foto {
    width: 168px; /*Устанавливает ширину содержимого элемента*/
    height: 168px; /*Устанавливает высоту содержимого элемента*/
    border-radius: 20px;
    box-shadow: 0px 5px 10px gray;
  }
  .fon1 h1{
    text-shadow: 0px 5px 10px gray;
  }
  figcaption h2{
    color: rgb(39, 100, 213);
    padding-top: 10px;
    font-family: 'KTF jermilov solid';
    text-shadow: 0px 5px 10px gray;
  }
  em{
    font-size: 20px;
    font-family:"fulbo";
  }

.bigcard{
  width: 1300px;
  height: 270px;
  display: flex;
  background-color: #ededed;
  margin: 0 auto;
  border-radius: 15px;
  /*text-shadow: 0px 5px 10px gray;*/
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.bigcard img{
  width: 200px;
  height: 200px;
}

p{
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(1, 0, 41);
}

.formbox{
    background-color: rgb(245, 245, 245); 
    width: 500px;
    height: 150px;
    margin: auto auto;
    position: relative;
    top: 50%;
    padding-top: 45px;
    padding-left:  70px;
    border-radius: 20px;
    box-sizing: border-box;
}


.fon2 .title{
  margin-top: 15px;
}

  .fon4 h1{
    font-weight: 500; /*Устанавливает насыщенность шрифта*/
    font-size: 64px; /*Определяет размер шрифта элемента*/
    line-height: 75px; /*Задаёт высоту строки текста*/
    text-align: center; 
    margin-bottom: -100px;
    color: #eee;
    font-family: 'KTF jermilov solid';
    text-shadow: 2px 1px 1px black;
  }
  .fat{
    width: 100%;
    height:300px ;

  }

  .formbox form{
    padding-top: 10px;
  }
  input{
    height: 40px;
    font-family: "fulbo";
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

@keyframes header_anim {
    from {
      transform: translateX(-120%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes card_anim {
    from {
      transform: translateX(500%);
    }
    to {
      transform: translateX(0);
    }
  }
  